.routeReqest {
	margin-top: 1%;
	margin-left: 5%;
	margin-right: 5%;
    width: 90%;
    color: rgb(1, 77, 1);
	font-family: 'Courier New', Courier, monospace;
	text-align: left;
	font-weight: 900;
	font-size: calc(20px + 16 * (100vw / 1280));
}

input[type="checkbox"] {
    transform: scale(2.5);
}